@page "/Account/ResetPasswordConfirmation"
<PageTitle>Confirmação de redefinição de senha</PageTitle>

<h1>Confirmação de redefinição de senha</h1>
<p role="alert">
    Sua senha foi redefinida. Por favor
    <a class="mud-link mud-primary-text mud-link-underline-hover"
       href="Account/Login">
        clique aqui para fazer login
    </a>.
</p>